/* Image Carousel Styles */
.carousel-container {
  display: flex;
  position: relative;
  overflow: hidden;
  margin: 2rem;
  width: fit-content;
}

.slide-button {
  top: 50%;
  position: absolute;
  padding: 1rem;
  transform: translateY(-50%);
  opacity: 0.5;
}

.slide-button-prev {
  left: 5%;
}

.slide-button-next {
  right: 5%;
}

.carousel-image {
  object-fit: cover;
  display: none;
}

.active-image {
  display: block;
}